.profile__edit-button {
    min-width: 24px;
    min-height: 24px;
    align-self: center;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    background-color: unset;
    background-image: url(../../../images/edit-icon.svg );
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px white solid;
    opacity: 1;
    transition: .5s ease;
    cursor: pointer;
}

.profile__edit-button:hover {
    opacity: .5;
}


@media screen and (max-width: 480px) {
    .profile__edit-button {
        min-width: 18px;
        min-height: 18px;
        background-size: 7.5px;
    }   
}