.pop-up__input-error {
    display: flex;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    min-height: 30px;
    margin: 0;
    width: 358px;
    padding: 0;
}

@media screen and (max-width: 767px) {
    
    .pop-up__input-error {
        width: 242px;
        
    }
}